# Standard Libraries
pandas
numpy
plotly

# Configuration
pyyaml

# Jupyter Notebook Libraries
nbformat
ipywidgets

# Data Retrieval Libraries
yfinance

# Statistics (price_return.stats)
scipy

# Technical Analysis Libraries
pandas_ta
TA-Lib
ta

# Machine learning (ml_models)
lightgbm
torch
scikit-learn
