# nose
# sphinx

# Standard Libraries
pandas
numpy
matplotlib
plotly

# Configuration
pyyaml

# Jupyter Notebook Libraries
nbformat
ipywidgets

# Data Retrieval Libraries
yfinance

# Technical Analysis Libraries
pandas_ta
TA-Lib
ta